#tot{
    margin: 20px 0 7px 0;
}
#mrp{
    text-decoration: line-through;
    margin: 0 4px 0 1px;
}
#total{
    text-decoration: solid;
    color: crimson;
    margin-right: 1px;
    font-size: 25px;
}
#save{
    font-size: 24px;
    color: green;
    margin-left: 4px;
}
#buy{
    width: 310px;
    background-color: rgb(107, 90, 240);
    color: white;
    font-size: 1rem;
    padding: 5px;
    cursor: pointer;
    outline: none;
    margin-bottom: 3px;
}
#TotText{
    font-size: 25px;
}
#empty{
    width: 310px;
    font-size: 1.4rem;
    height: 20px;
    margin-left: 10px;
}